
@model Mirabeau.AirPorts.Models.DistanceModel
@{
    ViewBag.Title = "Distance";
}


<div class="page-header" align="center">
    <h2>
        Airports distances
    </h2>
</div>


From: @Html.TextBox("distanceFrom", Model.distanceFrom, new { @readonly="readonly" })
To: @Html.TextBox("distanceTo", Model.distanceTo, new { @readonly = "readonly" })
Distance: @Html.TextBox("To", Model.distance, new { @readonly = "readonly" })

<input class="btn btn-info" type="button" value="Go Back" onclick="location.href='@Url.Action("List", "Airports")'" />
